POSTGRES_DB=lucy_identity
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

IDENTITY_HTTP_PORT=5095
IDENTITY_DB_CONNECTION=Host=postgres;Port=5432;Database=lucy_identity;Username=postgres;Password=postgres

JWT_ISSUER=lucy.identity
JWT_AUDIENCE=lucy.clients
JWT_SIGNING_KEY=CHANGE_ME_TO_A_32_BYTE_SECRET_FOR_DEPLOY
ACCESS_TOKEN_MINUTES=60
REFRESH_TOKEN_DAYS=30

ASPNETCORE_ENVIRONMENT=Production
LUCY_ENABLE_HTTPS_REDIRECTION=false
